body {
  padding-bottom: 70px;
}

.columnWidth {
  width: 22%;
}

.anchor {
  margin-top: -200px;
  padding-top: 200px;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.sideNav {
  position: fixed;
}

.parent {
  display: flex;
  justify-content: center;
}
