body {
  padding-bottom: 70px;
}

.columnWidth {
  width: 22%;
}

.content {
  padding-top: 35px;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.parent {
  display: flex;
  justify-content: center;
}
